
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/dashboard.css">
 <script src='static/js/jquery.min.js'></script>
    <script src="static/js/index.js"></script>
  <script>
  $(document).ready(function() {
    $("label").addClass( "active highlight" );
  });
</script>

</head>
<body style="height:1200px">
<div class="page-wrapper"></div>
        <div role="main" class="pagecontent">
        <nav>
            <a id="logo" href="/dashboard"><img src="http://www.freeiconspng.com/uploads/--global-globe-plane-travel-worldwide-icon--icon-search-engine-1.png" /></a>
            <a class="nav" href="/">Logout</a>
            <a class="nav" href="/profile">Profile</a>
            <a class="nav" href="/Groups">Groups</a>
			<a class="nav" href="/dashboard">Dashboard</a>
        </nav>

  <div class="form">
    <div>
      <h1>Update Profile</h1>
      <form action="/profile" method="post">
        <div class="top-row">
          <div class="field-wrap">
            <label>
                First Name<span class="req">*</span>
              </label>
            <input type="text" name="first_name" required  value=<%= userDetail.fname %> />
          </div>
          <div class="field-wrap">
            <label>
                Last Name<span class="req">*</span>
              </label>
            <input type="text" name="last_name"   value=<%= userDetail.lname %> />
          </div>
        </div>
        <div class="field-wrap">
          <label>
              Email Address<span class="req">*</span>
            </label>
          <input type="email" name="email" required   value=<%= userDetail.email %> />
        </div>
         <div class="field-wrap">
            <label>
              Phone Number
            </label>
            <input type="tel" name="phone"  pattern="^(\+[0-9]{1,5})?([1-9][0-9]{9})$"    value=<%= userDetail.phone %> />
          </div>
          <div class="field-wrap">
            <label>
              Address
            </label>
            <textarea name="address" ><%= userDetail.address %></textarea>
          </div>
         
            <div class="field-wrap">
              <label>
                Age
              </label>
              <input type="number" size="6" name="age" min="18" max="99"  value=<%= userDetail.age %> /><br>

            </div>
         
        
          <div class="field-wrap">
            <label>
              Interest
            </label>
            <textarea name="interest"  ><%= userDetail.interest %> </textarea>
          </div>
          <div class="field-wrap">
            <label>
              References
            </label>
            <textarea name="references" ><%= userDetail.references %> </textarea>
          </div>
          <div class="field-wrap">
            <label>
              Rating
            </label>
            <textarea name="rating"  ><%= userDetail.rating %> </textarea>
          </div> 
           <div class="field-wrap">
        <button type="submit" class="btn btn-default">Submit</button>
                                
      </form>
    
  </div>
  </div>
  

</body>

</html>
