<html>
<head>
    <link rel="stylesheet" href="static/css/dashboard.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <!-- <script src="static/js/bootbox.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="mytrips_wrapper">

<div role="main" class="pagecontent">
    <nav>
        <a class="nav" href="/">Logout</a>
        <a class="nav" href="/profile">Profile</a>
		<a class="nav" href="/dashboard">Dashboard</a>        
        
        
    </nav>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-6 text-left" ><h1> Active Trips: <%= tripsData.length %></h1></div>
            <div class="col-md-6 text-right"><h2>Never Fly Alone!</h2></div>
        </div>
    </div>
    <div class="flex-container">
        <% tripsData.forEach(function(trip) { %>
        <div class="flex-item" style="background-color: #defdff;">
            <div class="innerContainer">
                <div class="innerDivs">
                    <div class="flex-container dottetBorder">
                        <div class="rows1_2">
                            <h3 class="imgHolder">
                                <img class="img-thumbnail" src="<%= trip.avtar %>" alt="Avtar" height="60" width="60">
                                <!-- <a href="tripDetails"><%= trip.UserName %></a> -->
                                <span class="details"><%= trip.UserName %> </span>
                            </h3>
                            <!-- <span class="view">Views <%= trip.view %></span>  -->
                        </div>
                        <div class="rows1_2 type"><%= trip.type %></div>
                    </div>
                </div>
                <div class="innerDivs">
                    <div class="flex-container"  style="border-bottom: thin dotted black;">
                        <div class="rows1_2">
                            <span class="details"><%= trip.origin %> - </span>
                            <span class="details"><%= trip.destination %></span><br>
                            <span class="details">Departure Date: <%= trip.ddate %></span><br>
                            <span class="details"><%= trip.status %></span>
                            <span class="details">Ticket Booked : <%= trip.ticketbooked%></span>
                        </div>
                        <div class="rows1_2 airline">Airline :<%= trip.airline %></div>



                    </div>
                </div>
                <div class="innerDivs">
                    <div class="flex-container"> 
                        <a href="#"  data-toggle="modal"  data-target="#<%= trip.userID %> " class="row3"><span class="glyphicon glyphicon-user"></span> Profile </a>
                      <!-- <div>  <button class="btn btn-primary btn-lg" type="button" id="register"
                                 data-toggle="modal"
                                data-target="#myModal1">Submit
                        </button> </div> -->
                        
                      <div class="row3"><a href="/contact?receiverEmail=<%= trip.email %>&receiverName=<%= trip.UserName %>">Contact</a></div>
                    </div>
                </div>
                <div class="row">

                    <!-- Modal -->
                    <div id="<%= trip.userID %>" class="modal fade" role="dialog" align-content="center">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Profile Details</h4>
                                </div>
                                <div class="modal-body">                                     
							<div class="rows1_2">
                            <h3 class="imgHolder">
                                <img class="img-thumbnail" src="<%= trip.avtar %>" alt="Avtar" height="60" width="100">
                                
                            </h3>
                            <!-- <span class="view">Views <%= trip.view %></span>  -->
                        </div>
                                    <div>
                                        <label id ="name" name="name">User Name - <%= trip.UserName %></label>
                                    </div>
                                    <div>
                                       <br/><label id="email" name ="email">Email - <%= trip.email %></label>
                                    </div>
                                    <div>
                                      <br/><label id="phone" name ="phone">Phone - <%= trip.phone %></label>
                                    </div>
                                   

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                </div>
                            </div>

                        </div>        
                </div>
            </div>
        </div> 
        </div>
        <% }) %>
    </div>
</div>
</body>
</html>
