<html>
<head>
    <link rel="stylesheet" href="static/css/dashboard.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
</head>

<body class="mytrips_wrapper">
<h1>this is for user details</h1>
<!--<div role="main" class="pagecontent">
    <nav>
        <a class="nav" href="/">logout</a>
        <a class="nav" href="/profile">profile</a>
    </nav>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-6 text-left" ><h1><%= tripsData.length %> TRIPS</h1></div>
            <div class="col-md-6 text-right"><h1>DEMO</h1></div>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item" style="background-color: #defdff;">
            <div class="innerContainer">
                <div class="innerDivs">
                    <div class="flex-container dottetBorder">
                        <div class="rows1_2">
                            <h3 class="imgHolder">
                                <img class="img-thumbnail" src="<%= item.imageUrl %>" alt="Avtar" height="60" width="60">
                                <%= item.name %>
                            </h3>
                            <span class="view">Views <%= item.view %></span>
                        </div>
                        <div class="rows1_2 type"><%= item.type %></div>
                    </div>
                </div>
                <div class="innerDivs">
                    <div class="flex-container"  style="border-bottom: thin dotted black;">
                        <div class="rows1_2">
                            <span class="details"><%= item.origin %> - </span>
                            <span class="details"><%= item.destination %></span><br>
                            <span class="details"><%= item.date %></span><br>
                            <span class="details"><%= item.status %></span>
                        </div>
                        <div class="rows1_2 airline"><%= item.airline %></div>
                    </div>
                </div>
                <div class="innerDivs">
                    <div class="flex-container">
                        <div class="row3" >Profile</div>
                        <div class="row3">Details</div>
                        <div class="row3">Contact</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
</body>
</html>




























